body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#quizzesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#quizzesTable th, #quizzesTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#quizzesTable th {
    background-color: #007BFF;
    color: #fff;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
