body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buzzer-btn {
    padding: 15px 25px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.buzzer-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#queuePosition {
    margin-top: 20px;
    font-size: 16px;
}
